# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Environment variables
.env
# .env.*

# System files
.DS_Store
Thumbs.db

# Files and folders 
logs/
*.log
downloads/
temp/
temp_*/
output/
files/telegram.png
files/plane.json
files/circle.png
files/hole.png
